body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 200, 255);
}

.converter-container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(43, 51, 113)
}

.temp {
    background-color: darkseagreen;
}

.tempunit {
    background-color: rgb(241, 160, 238);
}

input[type=number] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
}